body {
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 0.5em;
  background-color: rgb(25, 122, 96);
}


.container {
  height: 85vh;
  display: grid;
  /* 638px */
  grid-template-columns: auto 640px auto;
  grid-template-rows: auto 10% 82%;
  grid-template-areas:
    ". title ."
    ". button-area ."
    ". etch-a-sketch .";
}


#title {
  margin-top: 5px;
  margin-bottom: 0px;
  grid-area: title;
  font-family: 'Great Vibes', cursive;
  font-style: italic;
  justify-self: center;
  font-size: 3rem;
  color: rgba(10, 45, 35, 0.97);
}

#reset {
  grid-area: button-area;
  justify-self: center;
  align-self: center;
  height: 50px;
  background-color: transparent;
  border-color: blue;
  border-radius: 5px;
  color: blue;
}

#reset:hover {
  background-color: rgb(6, 173, 163);
}

.etch-a-sketch {
  display: grid;
  grid-area: etch-a-sketch;
  width: 100%;
  height: 640px;
  margin-top: 10px;
  border: 2px solid black;
  background-color: white;
}
