body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 0.5em;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 638px 640px 638px;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    ". button-area ."
    ". etch-a-sketch .";
}

#reset {
  grid-area: button-area;
  justify-self: center;
  align-self: center;
  height: 50px;
}

.etch-a-sketch {
  display: grid;
  grid-area: etch-a-sketch;
  width: 100%;
  height: 640px;
  margin-top: 15px;
  border: 2px solid black;
}
